body {
    margin: 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    //background: #FFFAFA;
}

div#container {
    width: 850px;
    margin: auto;
}

h1#header {
    margin: 0px 0px 30px;
    padding: 30px 10px;
    border-bottom: 1px solid #;
    width: 850px;
    float: left;
}

div#navigation {
    width: 200px;
    float: left;
    font-size: 14px;
}

div#navigation ul{
    list-style: none;
    padding: 0px;
    margin-right: 10px;
    border-top: 1px solid #446679;
    font-size: 12px;
}

div#navigation ul li{
    padding: 2px;
    margin; 0px;
    border-bottom: 1px solid #446679;
}

div#main {
    width: 650px;
    float: left;
}

div.post h3 {
    border-bottom: 1px solid #446679; 
}

div.post span.datetime {
    display: block;
    text-align: right;
    font-style: italic;
}
