// http://www.colourlovers.com/palette/3322371/Cardamon_Zing

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 13px;
    margin: 0px;
}

header {
    border-bottom: 10px solid #786E68;
}

header h1 {
    background: #F5F2D8;
    padding: 20px;
    margin: 0px;
}

nav {
    width: 140px;
    float: left;
    padding: 5px;
}

nav span {
    background: #D1CC91;
    display: block;
    padding: 3px;
    border-radius: 5px;
}

nav ul {
    list-style: none;
    margin: 3px;
    padding: 0px;
}

nav a {
    color: #000000;
    text-decoration: none;
    display: block;
    padding-bottom: 2px;
    border-bottom: 1px solid #94B29D;
}

nav a:hover {
    border-bottom: 1px dotted #D58708;
}

#main {
    margin-left: 150px;
}

.clear {
    clear: both;
}
